<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <title>Bearbook - Posts</title>
  </head>
  <body>

    <%= render "shared/menu" %>

    <div class="user-wall-wrapper">

      <div class="user-wall-details">
        <div class="profile-pic">
          &#128059;
        </div>
        <div class="user-details-box">
          <div class="user-wall-name">
            <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
          </div>
          <div class="user-wall-email">
            <p>Email: <%= @user.email %></p>
          </div>
        </div>
      </div>

      <div class="post_new_container">
        <%= form_with scope: :post, url: posts_path, local: true do |form| %>

        <div class="bear_icon_post_new">&#128059; &nbsp;
          <span id="special-text">Message</span></div>

        <div class="new_post_label">
          <%= form.label :message %>
        </div>

        <div class="new_post_message">
          <%= form.text_area :message, placeholder: "What are the bear necessities..." %>
        </div>

        <div class="new_post_button">
          <%= form.submit "Submit", class: :btn %>
        </div>

        <% end %>
      </div>

      <% @posts.reverse.each do |post| %>
        <div class="post_container">

          <div class="bear_icon_post">&#128059;</div>

          <div class="user_name_post"><%=post.user.first_name.capitalize%>
            <%=post.user.last_name.capitalize%></div>

          <div class="user_content_post"><%= simple_format(post.message) %></div>

          <div class="time_of_post"><%= post.created_at %></div>

          <div class="delete_post">
            <% if post.user.id == @user.id %>
              <%= link_to 'Edit', edit_post_path(post) %>
              <span>-</span>
              <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
            <%end%>
          </div>

        </div>

      <% end %>

    </div>

          <div class="post_new_container">
        <%= form_with scope: :post, url: posts_path, local: true do |form| %>

        <div class="bear_icon_post_new">&nbsp; &#128059; &nbsp;
          <span id="special-text">Message</span></div>
          

        <div class="new_post_label">
          <%= form.label :message %>
        </div>
        

        <div class="new_post_message">
          <%= form.text_area :message, placeholder: "What are the bear necessities..." %>
        </div>
        <%=hidden_field(:user, :id)%>

        <div class="new_post_button">
          <%= form.submit "Submit", class: :btn %>
        </div>

      <% end %>

      <% @posts.reverse.each do |post| %>
    <div class="post_container">

      <div class="bear_icon_post">&#128059;</div>

      <div class="user_name_post"><%=post.user.first_name.capitalize%>
        <%=post.user.last_name.capitalize%></div>

      <div class="user_content_post"><%= simple_format(post.message) %></div>

      <div class="time_of_post"><%= post.created_at %></div>

      <div class="delete_post">
        <% if post.user.id == @current_user.id %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <span>-</span>
          <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
      </div>

    </div>

  <% end %>

  </body>

</html>

